<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "BlogPosting",
 "headline": "{{page.title}}",
 "image": "{{site.url}}{{page.image}}",
 "genre": "business consulting", 
 "keywords": "consulting business organization organizational", 
 "publisher": "Standing Wave",
 "url": "{{site.url}}{{page.id}}",
 "datePublished": "{{page.date}}",
 "dateCreated": "{{page.date}}",
 "description": "{{ page.exerpt }}",
 "articleBody": "{{ page.content }}",
   "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  }
 }
</script>
